* {
  margin: 0;
}

.App {
  background-image: url('./mainBackground.jpg');
  background-size: cover;
  background-repeat:no-repeat; 
  min-width: 100vh;
  min-height: 100vh;
  font-family: Copperplate;
  color: white;
  
}

/* CSS for Navbar */
.mainNavbar {
  display: block;
  list-style-type: none;
    
  padding-bottom: 300px;
  padding-right: 15%;
  overflow: hidden;
  text-align: right;
  float: right;
}

.mainNavbar li a {
  color: white;
  text-decoration: none;
  position: static;
  font-size: 24px;
  font-weight: bold;
  
  
  
  
}

.mainNavbar li a:hover {color: aqua;}

/*  */


/* Footer Icons */
.fa-brands, .fa-solid {
  color: rgb(255, 182, 249);
}

.fa-brands:hover, .fa-solid:hover {
  color: aqua;
}

/* Footer */
.footer {
  display: inline-lock;
  padding: 350px 120px;
  position: fixed;
  float: left;
  cursor: pointer;
  
}

