body {
  background-image: url('./mainBackground.jpg');
  background-size: cover;
  background-repeat:no-repeat; 
  position: static;
  min-width: 100%;
  min-height: 100vh;
  

}

.App {
  font-family: Copperplate;
  color: white;
  padding: 0;
  
}

/* CSS for Navbar */
.mainNavbar {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
    
  padding-bottom: 400px;
  padding-right: 15%;
  padding-left: 100px;
  overflow: hidden;
  text-align: right;
  float: right;
}

.mainNavbar li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  
  
}

.mainNavbar li a:hover {color: aqua;}

/*  */


/* Footer Icons */
.fa-brands, .fa-solid {
  color: rgb(255, 182, 249);
}

.fa-brands:hover, .fa-solid:hover {
  color: aqua;
}

/* Footer */
.footer {
  display: block;
  padding: 350px 120px;
  position: static;
  float: left;
  cursor: pointer;
  
}

/* About Me */
.flex-container {
  display: lex;
}

.aboutContainer {
  text-align: left;
  flex: 50%;
  padding: 0 30px;
    
}

.imageContainer {
  float: left;
  flex: 50%;
  padding: 0 30px;
    
}

/* Resume */
.resumeContainer {
  display: flex;
}

.resumeLeft {
  text-align: left;
  flex: 50%;
  padding: 0 30px;
 
}

.resumeRight {
  text-align: left;
  flex: 50%;
  padding: 0 50px;
  
}

li {
  text-align: left;
  font-size: 1.22em;
}




